* {
    background-color: #fffff0;
    box-sizing: border-box;
    color: #888;
}

a {
    color: #888;
}

a:hover {
    color: #B0B0FF;
}

body {
    font-family: "游明朝","游明朝体";
}


.index li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
}

.header-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 240px;
    width: 100%;
    top: 0;
}

.logo {
    height: 240px;
    width: 270px;
}
.header-left {
    float: left;
    padding: -100px;
}

/*　今はもうない↓　*/
.header-right {
    float: right;
}

.rink-text {
    color: #666;
    padding: 0 30px;
    display: inline-block;
    line-height: 80px;
}

.rink-text:hover {
    background-color: #999;
    color: white;
}
/*　今はもうない↑　*/



.home-index {
    background-color: #999;
    opacity: 0.7;
    padding: 80px 40px;
    z-index: 99;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    font-size: 20px;
}

.home-index p {
    background-color: #999;
    display: block;
    margin-bottom: 20px;
}

.home-index a {
    background-color: #999;
    color: white;
}

.menu-icon {
    font-size: 40px;
    float:right;
    position: fixed;
    top: 20px;
    right: 20px;
}

.topper {
    padding: 100px;
}

.footer-logo {
    display: block;
    margin: 20px auto;
}

.lists {
    padding: 0 100px;
}

.topper-title {
    color: #1e90ff;
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
}

.index {
    border-top: #999 solid 2px;
    padding-top: 30px;
}

.list {
    padding: 30px 0;
}

.list a {
    color: #555;
    padding-bottom: 20px;
    font-size: 18px;
}

.list h2 {
    border-bottom: #999 solid 1px;
    padding-bottom: 15px;
    margin: 15px;
}

.footer-logo {
    height: 400px;
}

.items {
    max-width: 1170px;
    width: 100%;
    padding: 0 250px;
    font-size: 18px;
}

.chara-item {
    padding-top: 30px;
}

.item-left {
    display: inline-block;
    width: 170px;
    line-height: 40px;
    vertical-align: top;
    text-align: left;
}

.item-right {
    display: inline-block;
    padding-left: 50px;
    line-height: 40px;
    vertical-align: center;
    text-align: left;
}

.npc {
    border-bottom: #999 solid 1px;
    padding-bottom: 15px;
}

.top {
    padding: 100px 100px 0 100px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: #F6F6E8 solid 12px;
}

.title {
    font-size: 50px;
    color: #1e90ff;
}

.top p {
    font-size: 16px;
}


.status {
    line-height: 20px;
}

.bottom {
    margin-top: 110px;
}


/*--------- ここからslider --------*/
.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}

.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slides {
  padding: 0;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: auto;
  height: 500px;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}
  /*-------  ここまでslider  --------*/

