/*--------- 全体設定 ---------*/
* {
    background-color: #fffff0;
    box-sizing: border-box;
    color: #888;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #B0B0FF;
    text-decoration: underline;
}

body {
    font-family: "游明朝","游明朝体";
}
/*--------- 全体設定 ---------*/

/*--------- ヘッダー ---------*/
header {
    height: 190px;
    width: 100%;
    top: 0;
}

.header-container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    height: 180px;
    width: auto;
}

.header-left {
    float: left;
    padding: 10px 0 0 20px;
}
/*--------- ヘッダー ---------*/

/*--------- フッター ---------*/
.footer-logo {
    display: block;
    margin: 0 auto;
    height: 400px;
    padding-left: 75px;
}
/*--------- フッター ---------*/

/*--------- メニュー ---------*/
.home-index {
    background-color: #999;
    opacity: 0.7;
    padding: 80px 40px;
    z-index: 98;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    font-size: 20px;
}

.home-index ul{
    list-style: none;
    background-color: #999;
    padding: 0;
    margin: 0;
}

.home-index li{
    background-color: #999;
    color: white;
    padding-top: 15px;
}

.li2 li{
    margin-left: 45px;
    font-size: 0.95em;
    list-style: disc;
    padding: 0;
}

.home-index a {
    background-color: #999;
    color: white;
}

.menu-icon {
    font-size: 40px;
    float:right;
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0,0,0,0);
    z-index: 99;
}

.back {
    display: none;
    color: #fffff0;
}
/*--------- メニュー ---------*/

/*--------- ホーム ---------*/
/* 上 */
.topper {
    padding: 25px 100px;
}

.topper-title {
    color: #1e90ff;
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
    margin: 0;
}

.index {
    border-top: #999 solid 2px;
    padding-top: 30px;
}

.index li {
    list-style: none;
    font-size: 20px;
}

.li1 {
    padding-top: 10px;
}

/* 中 */
.lists {
    padding: 0 100px;
}

.list {
    padding: 30px 0;
}

.list a {
    color: #555;
    padding-bottom: 20px;
    font-size: 18px;
}

.list a:hover {
    color: #B0B0FF;
}

.list h2 {
    border-bottom: #999 solid 1px;
    padding-bottom: 15px;
    margin: 15px;
}

.chara {
  border: 1px solid #fffff0;
  border-radius: 40px;
  padding: 15px;
  margin: 5px;
  transition: .2s;
  width: 130px;
  text-align: center;
  background-color: #F9F4DF;
}

.chara:hover {
    border: 1px solid #ffe9d9;
    background: #FFE9D9;
}

.chara a {
    background-color: transparent;
}
    
.chara a:hover {
    text-decoration: none;
}

.chara img {
  background-color: transparent;
  width: 100px;
  margin: 0;
}

.chara p {
    background-color: transparent;
    margin: 0;
    font-size: 15px;
}

.mems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*折り返しあり*/
  justify-content: flex-start; /*左詰め*/
  margin: 0 auto;
}

.mem {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.mem img {
  width: 120px;
  margin: 0;
}

.mem p {
    margin: 0;
}
/*--------- ホーム ---------*/

/*--------- キャラ、シナリオ、メンバー共通 ---------*/
/* タイトル */
.top {
    z-index: 2;
    text-align: center;
    border-bottom: #F6F6E8 solid 12px;
    padding: 0 250px 15px;
}

.title {
    font-size: 50px;
    margin: -20px 0 0 0;
    color: #1e90ff;
}

.top p {
    font-size: 16px;
    margin: 0;
}

/* 中身 */
.items {
    width: 1000px;
    padding-top: 20px;
    margin: 0 auto;
}

.items h2 {
    padding-left: 65px;
    margin: 15px 0 0 0;
    font-size: 25px;
    color: #777;
}

#color {
    width: 400px;
}

#driver {
    margin-top: 50px;
}
/*--------- キャラ、シナリオ、メンバー共通 ---------*/

/*--------- 表 ---------*/
table {
    width: 1000px;
    margin: 0 auto;
    font-size: 20px;
    border-spacing: 0;
}

table p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
  
th, td {
    vertical-align: baseline;
}
  
th {
    width: 360px;
    text-align: right;
    padding: 0 20px 0 0;
}
  
td {
    width: 640px;
    text-align: left;
    padding: 0 0 0 20px;
}
/*--------- 表 ---------*/

/*--------- キャラslider --------*/
.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slides {
  padding: 0;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: auto;
  height: 500px;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}
/*-------  キャラslider  --------*/

/*--------- メンバー ---------*/
.member-url p {
    padding: 0;
}

.member {
    text-align: center;
}

.member p {
    margin: 0;
}

.comment {
    padding-top: 1.5em;
}

.memberLeft {
    padding: 40px 0 8px 0;
    margin: 0;
}
.managerColor p {
    background-color: pink;
    margin: 0;
}

#member-color {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#manager-icon {
    width: 80px;
}


/*--------- メンバー ---------*/


@media (max-width: 1024px) {
    .top {
        padding: 0 50px 15px;
    }

    .title {
        margin: 20px 0 0 0;
    }

    /* 中身 */
    .items {
        width: 600px;
    }

    .items h2 {
        padding-left: 50px;
    }

    #color {
        width: 300px;
    }

    table {
        width: 600px;
    }

    th {
        width: 190px;
        padding: 0 10px 0 0;
    }

    td {
        width: 400px;
        padding: 0 0 0 10px;
    }
    
    .slide-wrapper {
        width: 550px;
    }
    
    footer {
        width: 100%;
    }
}

@media (max-width: 599px) {
    * {
        font-size: medium;
    }
    
    .home-index a {
        font-size: 20px;
    }
    
    .top {
        padding: 0 20px 10px;
    }
    
    .title {
        font-size: 40px;
    }
    
    .slide-wrapper {
        width: 100%;
    }
    
    .index-btn-wrapper {
        margin: 20px auto;
    }
    
    .index-btn {
        margin: 5px;
    }
    
    .slide img {
        width: 90%;
        height: auto;
    }
    
    .change-btn-wrapper {
        width: 95%;
    }   
    
    .items {
        width: 95%;
    }

    .items h2 {
        padding-left: 10px;
    }
    
    #color {
        width: 212px;
    }
    
    #driver {
        margin-top: 0.5em;
    }
    
    table {
        width: 100%;
        padding-left: 10px;
    }
    
    p {
        word-break: break-all;
    }
        
    th, td {
        display: block;
        text-align: left;
        margin: 0 auto;
    }
    
    th {
        padding-top: 20px;
        width: 95%;
    }
    
    td {
        padding-left: 50px;
        width: 100%;
    }
    
    .footer-logo {
        width: 90%;
        height: auto;
        padding-left: 0;
    }
    
    .topper {
        width: 100%;
    }
    
    .lists {
        width: 100%;
    }
}
