* {
    box-sizing: border-box;
    background-color: #fffff0;
}



.main-btn {
    display: block;
    width: 360px;
    margin: 200px auto;
    text-align: center;
    border-radius: 4px;
    border-width: 1px;
    height: 40px;
    background-color: aliceblue;
}


.login {
    border-radius: 10px;
    border-width: 5px;
    border-color: cornflowerblue;
    font-family:  "游明朝","游明朝体";;
    font-size: 20px;
    display: block;
    margin: 200px auto;
    background-color: aliceblue;
    color: #333;
    height: 100px;
    width: 200px;
}
