/*--------- メンバー ---------*/
.member-url p {
    padding: 0;
}

.member {
    text-align: center;
}

.member p {
    margin: 0;
}

.comment {
    padding-top: 1.5em;
}

.memberLeft {
    padding: 40px 0 8px 0;
    margin: 0;
}

.managerColor p {
    background-color: pink;
    margin: 0;
}

#member-color {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.member-icon {
    width: 80px;
}

.htmlPL {
    width: 210px;
    margin: 10px;
}

.sPL {
    transition: .3s;
}

.sPL h4 {
    padding: 5px;
    border: 2px solid #E6DAAF;
    border-radius: 15px;
    /*--水平方向 垂直方向 影のぼかし 拡大 色--*/
    box-shadow: 2px 2px 2px #E6DAAF;
}

.sPL:hover h4 {
    transform: scale(1.2);
    color: #888;
    background-color: #FAF3D7;
}

.sPL:hover a{
    text-decoration: none;
}

.cPL {
    width: 180px;
    border: 1px solid #E6DAAF;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #E6DAAF;
    margin: 0 auto;
    transition: .3s;
}

.cPL:hover {
    background-color: #FAF3D7;
}

.cPL:hover p {
    transform: scale(1.1);
}

.cPL:hover a{
    text-decoration: none;
}

.cPL img {
    padding-top: 5px;
    height: 80px;
}

/*--------- メンバー ---------*/

