/*--------- メンバー ---------*/
.member-url p {
    padding: 0;
}

.member {
    text-align: center;
}

.member p {
    margin: 0;
}

.comment {
    padding-top: 1.5em;
}

.memberLeft {
    padding: 40px 0 8px 0;
    margin: 0;
}

.managerColor p {
    background-color: pink;
    margin: 0;
}

#member-color {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.member-icon {
    width: 80px;
}

.htmlPL {
    width: 200px;
    margin: 10px;
}

.sPL h4 {
    padding: 0 4px;
    border: 2px solid #E6DAAF;
    border-radius: 15px;
    /**/
    box-shadow: 2px 2px 2px #E6DAAF;
}

.sPL:hover h4 {
    color: #888;
    background-color: #E6DAAF;
    text-decoration: none;
}

.cPL {
    width: 150px;
    border: 1px solid #E6DAAF;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #E6DAAF;
    margin 0 auto;
}

.cPL:hover p {
    color: #E6DAAF;
}

.cPL img {
    height: 70px;
}

/*--------- メンバー ---------*/

